<!DOCTYPE html>
<html th:replace="layout/layout :: layout(~{::content})">

<body th:remove="tag">
    <div th:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Gestion des Paiements</h2>
            <a th:href="@{/paiements/new}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Nouveau
                paiement</a>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Voiture</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paiement : ${paiements}">
                    <td th:text="${paiement.id}"></td>
                    <td th:text="${paiement.client.prenom + ' ' + paiement.client.nom}"></td>
                    <td th:text="${paiement.voiture.marque + ' ' + paiement.voiture.modele}"></td>
                    <td th:text="${paiement.montant + ' MAD'}"></td>
                    <td th:text="${paiement.datePaiement}"></td>
                    <td th:text="${paiement.typePaiement}"></td>
                    <td>
                        <span th:text="${paiement.statut}" class="badge" th:classappend="${paiement.statut.name() == 'VALIDE' ? 'bg-success' : 
                                  (paiement.statut.name() == 'EN_ATTENTE' ? 'bg-warning' : 'bg-danger')}">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>